[submodule "CryptoPPTest/CryptoPP"]
	path = CryptoPPTest/CryptoPP
	url = https://github.com/weidai11/cryptopp.git
[submodule "CryptoPPTest/zopfli"]
	path = CryptoPPTest/zopfli
	url = https://github.com/google/zopfli.git
